<p style="color: green"><%= notice %></p>

<%= render @medical_institution %>

<div>
  <%= link_to "Edit this medical institution", edit_medical_institution_path(@medical_institution) %> |
  <%= link_to "Back to medical institutions", medical_institutions_path %>

  <%= button_to "Destroy this medical institution", @medical_institution, method: :delete %>
</div>
