<div id="<%= dom_id pacient %>">
  <p>
    <strong>Name:</strong>
    <%= pacient.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= pacient.last_name %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= pacient.telephone %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= pacient.mail %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= pacient.address %>
  </p>

  <p>
    <strong>Inf:</strong>
    <%= pacient.inf %>
  </p>

</div>
