<%= form_with(model: appointment, class: "my-5") do |form| %>
  <% if appointment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date, class: "control-label" %>
    <%= form.datetime_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag "appointment[doctor_id]", "Doctor", class: "control-label" %>
    <%= select_tag "appointment[doctor_id]", options_for_select(Doctor.all.map { |d| [d.name, d.id] }), prompt: "Select a doctor", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag "appointment[medical_center_id]", "Medical Center", class: "control-label" %>
    <%= select_tag "appointment[medical_center_id]", options_for_select(MedicalCenter.all.map { |d| [d.name, d.id] }), prompt: "Select a medical center", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "appointment[specialty_id]", "Specialty", class: "control-label" %>
    <%= select_tag "appointment[specialty_id]", options_for_select(Specialty.all.map { |s| [s.name, s.id] }), prompt: "Select a specialty", class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit "Reserve Appointment", class: "btn btn-primary" %>
  </div>
<% end %>
