<div class="container mt-5">
  <p class="alert alert-success"><%= notice %></p>

  <div class="masthead text-center">
    <h1 class="display-4">Appointments</h1>

    <%= render 'search' %>

    <!-- 
    <div id="appointments">
      <% @appointments.each do |appointment| %>
        <%= render appointment %>
        <p>
          <%= link_to "Show this appointment", appointment %>
        </p>
      <% end %>
    </div> 
    -->

    <%= link_to "New Appointment", new_appointment_path, class: "btn btn-primary mt-3" %>
  </div>
</div>
